.container {
  background-color: black;
  color: white;
}

/* INTRO SECTION */

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  max-width: 80%;
  text-align: center;
}

.intro h1,
.intro h2 {
  font-weight: normal;
}

.intro p {
  opacity: 0.6;
}

.intro .mainText {
  font-size: 10rem;
  font-weight: bold;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}

.intro .mainText:hover {
  background-position: left;
}

.notifyInput {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* CATEGORIES SECTION */

.categoriesSection h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 5rem 0;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 0 5rem;
  max-width: 80%;
  margin: 0 auto;
}

.categories .fillerImage {
  height: 60vh;
  width: 50%;
  position: relative;
}

.fillerImage img {
  object-fit: cover;
  object-position: right;
}

.categories .fillerImage::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradient-animation 8s ease infinite;
}

.categories_list ul {
  min-width: 350px;
  margin: 0 auto;
}

.categories_list p {
  margin-left: auto;
  width: fit-content;
  font-size: 1.5rem;
  margin: 1rem 0 1rem auto;
  opacity: 0.7;

}

.categories_list li {
  width: fit-content;
  min-width: 200px;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 10px 0;
  transition: all ease 0.2s;
  cursor: pointer;
}

.categories_list li:hover {
  transform: scale(1.05);
}

.categories_list li:nth-of-type(2n) {
  margin-left: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .intro .mainText {
    font-size: 12vw;
  }

  .fillerImage {
    display: none;
  }

  .categories_list ul {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    gap: 1rem;
    justify-content: center;
  }

  .categories_list ul li {
    margin: 0 !important;
  }

}

@media screen and (max-width: 760px) {
  .intro h2 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .categoriesSection h2 {
    margin: 2rem auto;
    max-width: 90%;
    font-size: 2rem;
  }

  .categories_list p {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 450px) {
  .notifyInput {
    flex-direction: column;
  }
}
